.borda{
    border:1px solid black;
}

.ex1{
   border: 2px solid black ; 
}

.pai{
    display: flex;
}
.conteiner{
    background:rgb(48, 78,  97);
    width: 16%;
  
    box-shadow: 0 4px 8px o rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    display: inline-block;
    
   

}

.skate img{
    width: 90px;
    float: left ;
   

}
.wassup a{
    background: rgb(18, 44, 99);
    text-align: center;
}
.wassup{
    color:  rgb(48, 78,  97);
    max-width: 770px;
    text-align: left;
}
.mae{
     color:  rgb(48, 78,  97);
    max-width: 770px;
    border: 2px solid black;
}
.JG{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;

}
.flexpai div{
    max-width: 200px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    margin: 2px;
    padding: 30px;
    text-align: center;
    flex-direction: row;
    float: left;
}
strong{
    background: rgb(79, 146, 177);
}
@media only screen and (max-width: 500px) {
    body{
        background: rgb(167, 231, 233); 

    }}
    @media only screen and (min-width: 600px) {
    body{
        background: rgb(176, 234, 245); 

    }}
    @media only screen and (min-width: 768px) {
    body{
        background: rgb(111, 154, 161); 

    }}
@media only screen and (min-width: 992px) {
    body{
        background: rgb(129, 196, 212); 

    }
}
@media only screen and (min-width: 1200px) {
    body{
        background: rgb(206, 206, 206); 

    }}
.BB{
    left: 130px;
    display: inline-block;
    position: relative;
     color:  rgb(48, 78, 97);
     max-width: 18%;
}


.div1{
     border: 2px solid black;
    box-shadow: inset;
    position: relative;
    left: 10px;
    top: 10px;
     height: 30px;
    width: 10%;
    background: orange;

}
.div2{
     border: 2px solid black;
    box-shadow: inset;
    position: relative;
    left: 10px;
    top: 10px;
     height: 30px;
    width: 10%;
    background: rgb(121, 1, 1);
    
}
.div3{
    border: 2px solid black;
    box-shadow: inset;
     position: relative;
    left: 10px;
    top: 10px;
     height: 30px;
    width: 10%;
    background: green;
}
.whats{
    width: 54px;
    position: absolute;
    top: 16px;
    border: 2px solid black;
    border-radius: 20%;


}

    